[submodule "ExoMy_Software"]
	path = ExoMy_Software
	url = git@github.com:16stelter/ExoMy_Software.git
	branch = ros2/foxy
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
